.content.container
	.mt-10.content
		.content__info
			h1 Many reasons to get up and start to get back in the business 
			p.mt-1 The harder you work for something, the greater you’ll feel when you achieve it.
			.content__btns.mt-4.mb-5
				button.btn.contentbtn(type='button') Learn More
				button.btn.demobtn.ms-2(type='button') Demo
			.content__video.d-flex
				.content__videoItem.me-2
					a.video__item-play(href='#')
						i.fas.fa-play-circle
				.content__videoInfo
					h5 The harder you work for something, the greater you’ll feel when you achieve it.
					a(href="#") Watch preview
		.content__img.ms-2
			img(src="./img/run.png", alt="" data-aos='fade-up' data-aos-anchor-placement='center-bottom')