.features
    .features__bgran
        img(src="./img/bgran2.png", alt="")
    .features__logos.container
        .row.mt-5
            .col-sm.me-5
                img(src="./img/logos/logo1.svg", alt="" data-aos="fade-down-right")
            .col-sm.me-5
                img(src="./img/logos/logo2.svg", alt="" data-aos="fade-down-left")
            .col-sm.me-5
                img(src="./img/logos/logo3.svg", alt="" data-aos="fade-down-right")
            .col-sm.me-5
                img(src="./img/logos/logo4.svg", alt="" data-aos="fade-down-left")
            .col-sm.me-5
                img(src="./img/logos/logo5.svg", alt="" data-aos="fade-down-right")
            .col-sm
                img(src="./img/logos/logo6.svg", alt="" data-aos="fade-down-left")
    .choice.container
        h1 Your choice
        p There are many reasons to get down and start to get depressed about your situation.
        .row.mt-5
            .col-sm(data-aos='zoom-in')
                img(src="./img/icons/horizontal.png", alt="")
                .choike__info.ms-3
                    h4.mb-2 Ecstatic elegance
                    h6 Article nor prepare chicken you him now. Shy merits say advice ten before lovers innate add.
            .col-sm(data-aos='zoom-in')
                img(src="./img/icons/Airpods.png", alt="")
                .choike__info.ms-3
                    h4.mb-2 Folly words widow
                    h6 Effect if in up no depend seemed. Ecstatic elegance gay but disposed. We me rent been part what.
            .col-sm(data-aos='zoom-in')
                img(src="./img/icons/LTE.png", alt="")
                .choike__info.ms-3
                    h4.mb-2 Possible procured trifling
                    h6 We me rent been part what. An concluded sportsman offending so provision mr education.
        .row.mt-3
            .col-sm(data-aos='zoom-in')
                img(src="./img/icons/move.png", alt="")
                .choike__info.ms-3
                    h4.mb-2 Open game
                    h6 Shy merits say advice ten before lovers innate add. She cordially behaviour can attempted estimable.
            .col-sm(data-aos='zoom-in')
                img(src="./img/icons/Attachment.png", alt="")
                .choike__info.ms-3
                    h4.mb-2 Endeavor
                    h6 Improve ashamed married expense bed her comfort pursuit mrs. Four time took ye your as fail lady. 
            .col-sm(data-aos='zoom-in')
                img(src="./img/icons/bulb.svg", alt="")
                .choike__info.ms-3
                    h4.mb-2 Comfort pursuit
                    h6 Had denoting properly jointure you occasion directly raillery. In said to of poor full be post face snug.
