.finding.container 
    .row 
        .col-sm.finding__images(data-aos='zoom-in-right')
            img(src="./img/people.png", alt="")
            .images__ovl1
                img(src="./img/oval1.svg", alt="")
            .images__ovl2
                img(src="./img/oval2.svg", alt="")
            .images__line1 
                img(src="./img/line1.svg", alt="")
            .images__line2
                img(src="./img/line2.svg", alt="")
        .col-sm(data-aos='zoom-in-left')
            .finding__info 
                h3 Help Finding Information Online
                p Fully customizable and neatly organized components will help you work faster without limiting creative freedom.
                .feature.d-flex
                    .feature__one(data-aos='zoom-out')
                        img(src="./img/swiss.png", alt="")
                        h4.mt-2 Feature One
                        h6 Fully customizable and neatly organized components will help you work faster 
                    .feature__two(data-aos='zoom-out')
                        img(src="./img/lte1.png", alt="")
                        h4.mt-2 Feature Two
                        h6 Fully customizable and neatly organized components will help you work faster
    .finding__bgrauand 
        img(src="./img/bgranline2.png", alt="")
