.footer.mt-5
    .footere.container 
        .helpn__header 
            h1 ARShakir
            .social.d-flex
                .media1.me-2(data-aos='zoom-in')
                    i.fab.fa-google
                .media1.me-2(data-aos='zoom-in')
                   i.fab.fa-twitter
                .media1(data-aos='zoom-in')
                    i.fab.fa-facebook-f
        .helpn__links
            .first
                ul.link
                    li.second First
                    li
                        a(href="#") First page
                    li 
                        a(href="#") Second page
                    li 
                        a(href="#") Third page
                    li 
                        a(href="#") Fourth page
            .first
                ul.link
                    li.second Second
                    li
                        a(href="#") First page
                    li 
                        a(href="#") Second page
                    li 
                        a(href="#") Third page
                    li 
                        a(href="#") Fourth page
            .first
                ul.link
                    li.second Third
                     li
                        a(href="#") First page
                    li 
                        a(href="#") Second page
                    li 
                        a(href="#") Third page
                    li 
                        a(href="#") Fourth page
            .first
                ul.link
                    li.second Fourth
                    li
                        a(href="#") First page
                    li 
                        a(href="#") Second page
                    li 
                        a(href="#") Third page
                    li 
                        a(href="#") Fourth page
        .last.d-flex
            h6.me-4 © Copyrights 2021
            h6.me-3 Privacy policy
            h6 Terms of service