header.header.ms-auto
	nav.navbar.navbar-expand-lg.py-4.container
		.container-fluid
			a.navbar-brand(href='#')
				img(src="./img/logo.svg", alt="")
			button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
				span.navbar-light.navbar-toggler-icon
			#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav.ms-4
					li.nav-item
						a.nav-link(href='#') About
					li.nav-item
						a.nav-link(href='#') Gallery
					li.nav-item
						a.nav-link(href='#') Pricing
					li.nav-item
						a.nav-link(href='#') FAQ
					li.nav-item
						a.nav-link(href='#') Benefits
				form.btn-link.ms-auto
					button.btn.btnHeader.me-4(type='') Sign In
					button.btn.btnHeader(type='') Sign Up