.increase.container
    .row
        .col-sm(data-aos='zoom-in-right')
            .increase__info
                h1.mb-3 Increase your business 
                    span(style='color: #F2994A;')  traffic
                p.mb-4 We are committed to processing the information in order to contact you and talk about your project.
                .increase__btn
                    button.btn.Increasebtn(type='') Learn More
        .col-sm(data-aos='zoom-in-left')
            img.photos__user(src="./img/photo.png", alt="#")
            img.photos__grafic(src="./img/overview.png", alt="")
            img.photos__up(src="./img/graficUp.svg", alt="")
            img.photos__stick(src="./img/stacked.png", alt="")

