.infest.container
    .row.d-flex
        .col-sm(data-aos='zoom-in-right')
            .infest__info
               h1 Invest property for 
                .br better
                    span(style='color: #F2994A') business
                p.mb-4 We are committed to processing the information in order to contact you and talk about your project. We are committed to processing the information.
                .infest__btn
                    button.btn.infBtn(type='button') Learn More
        .col-sm(data-aos='zoom-in-left')
            .leftInfest
                .card(style='width: 18rem;')
                    img.card-img-top(src='./img/mucti.png' alt='#')
                    .card-body
                        h2.card-title Omah mukti residence
                        p.card-text Merpati sidomuncul 26 street, UK
                        h4 $176,000
                        h6 Funding Request
                        .percent
                            .month
                                h3 13%
                                h5 Apr
                            .month
                                h3 68%
                                h5 Ltv
                            .month
                                h3 12 mth
                                h5 Loan
                .increas
                    h4 6 month
                    h6 increase 12%
                .infest__ups
                    img(src="./img/graficUp.svg", alt="")
                .infest__img 
                    img(src="./img/map.png", alt="")
