.metrics.container.mt-11
    .metrics__bgraun 
        img(src="./img/left.png", alt="")
    .metrics__info(data-aos='zoom-in')
        h1.mb-3 3 Simple Ways To 
            span(style='color: #F2994A;')  Save 
            A Bunch 
            .br Of 
                span(style='color: #F2994A;') Money   
                When Buying A New Computer
        p.mb-4 Fully customizable and neatly organized components will help you work faster without limiting creative freedom.
    .row 
        .col-sm.item(data-aos='fade-down')
            h4 100+
                p.mt-2 5 Reasons To Purchase Desktop Computers
        .col-sm.item(data-aos='fade-down')
            h4 43,000+
                p.mt-2 3 Simple Ways To Save A Bunch Of Money When Buying A New Computer
        .col-sm.item(data-aos='fade-down')
            h4 30+
                p.mt-2 A Discount Toner CartridgeIs Better Than Ever And You Will Save 50 Or More