.project.mt-16.container 
	.project__info
		h1 Create your 
			span(style='color: #F2994A;') next project 
			with startup 
			.br framework
		.project__btn
			button.btn.Projectbtn.mt-5(type='button') Get Started
	.project__img
		img(src="./img/framework.png", alt="")