.reasons.container
    .reasons__form(data-aos='zoom-in')
        h1 There are many reasons to get down
        h5.mt-2 There are many reasons to get down and start to get depressed about your situation.
        .input-group.mb-3
            input.form-control(type='text' placeholder="Your Email" aria-label="Recipient's username" aria-describedby='button-addon2')
            button#button-addon2.btn.sendBtn(type='button') Send
        p No spam. Only releases, updates and discounts
    .reasons__img 
        img(src="./img/reasonsbgr.png", alt="")